In [1]:
%config Completer.use_jedi = False

In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

sns.set_style("whitegrid")

### 1. Getting data ready for machine learning
#### Clean Data --> Transform Data --> Reduce Data

Three main tasks:

    1. split the data into features & labels (usually `X` & `y`)
    2. filling (imputing) or disregarding missing values
    3. converting non-numerical values to numerical values (feature encoding)

In [4]:
heart_disease = pd.read_csv("../data/heart-disease.csv")
heart_disease.head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

In [5]:
# split features and target into 'X' and 'y'
X = heart_disease.drop("target", axis=1)
y = heart_disease["target"]

In [8]:
# split data into training and test sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [9]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [13]:
X_test.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
dtype: int64

## 1.1 Make sure it's all numeric

In [14]:
cars = pd.read_csv("../data/car-sales-extended.csv")
cars.head(3)

    Make Colour  Odometer (KM)  Doors  Price
0  Honda  White          35431      4  15323
1    BMW   Blue         192714      5  19943
2  Honda  White          84714      4  28343

In [15]:
cars.shape

(1000, 5)

In [16]:
cars.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [22]:
# split the data
X = cars.drop("Price", axis=1)
y = cars['Price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [24]:
# Build model
from sklearn.ensemble import RandomForestRegressor

In [ ]:
model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

In [26]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [28]:
cat_features = ["Make", "Colour", "Doors"]
ohe = OneHotEncoder()
transformer = ColumnTransformer([("ohe", ohe, cat_features)], remainder="passthrough")
transformed_X = transformer.fit_transform(X)

transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [29]:
pd.DataFrame(transformed_X)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [30]:
dummies = pd.get_dummies(cars[["Make", "Colour", "Doors"]])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [31]:
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)

model.fit(X_train, y_train)

model.score(X_test, y_test)

0.3235867221569877

### 1.2 Missing values

1. Fill them with some value (imputation)
2. Remove the samples with missing data

In [32]:
cars_missing = pd.read_csv("../data/car-sales-extended-missing-data.csv")
cars_missing.head(3)

    Make Colour  Odometer (KM)  Doors    Price
0  Honda  White        35431.0    4.0  15323.0
1    BMW   Blue       192714.0    5.0  19943.0
2  Honda  White        84714.0    4.0  28343.0

In [33]:
cars_missing.shape, cars_missing.dtypes

((1000, 5),
 Make              object
 Colour            object
 Odometer (KM)    float64
 Doors            float64
 Price            float64
 dtype: object)

In [35]:
cars_missing.isna().mean(), cars_missing.isna().sum()

(Make             0.049
 Colour           0.050
 Odometer (KM)    0.050
 Doors            0.050
 Price            0.050
 dtype: float64,
 Make             49
 Colour           50
 Odometer (KM)    50
 Doors            50
 Price            50
 dtype: int64)

In [39]:
X = cars_missing.drop('Price', axis=1)
y = cars_missing['Price']

In [40]:
X.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
dtype: int64

In [47]:
cars_missing["Make"].mode()

0    Toyota
dtype: object

### Fill missing values using Pandas

In [48]:
# Fill the 'Make' column
cars_missing["Make"].fillna("missing", inplace=True)

# Fill the 'Colour' column
cars_missing["Colour"].fillna("missing", inplace=True)

# Fill the 'Odometer (KM)' column
cars_missing["Odometer (KM)"].fillna(cars_missing["Odometer (KM)"].mean(), inplace=True)

# Fill the 'Doors' column
cars_missing["Doors"].fillna(4, inplace=True)

In [50]:
cars_missing.dropna(inplace=True)

In [51]:
cars_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [55]:
cat_features = ["Make", "Colour", "Doors"]
ohe = OneHotEncoder()
transformer = ColumnTransformer([("ohe", ohe, cat_features)], remainder="passthrough")
transformed_X = transformer.fit_transform(cars_missing)

transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

### Fill missing values with Scikit-Learn

In [56]:
cars_missing = pd.read_csv("../data/car-sales-extended-missing-data.csv")
cars_missing.head(3)

    Make Colour  Odometer (KM)  Doors    Price
0  Honda  White        35431.0    4.0  15323.0
1    BMW   Blue       192714.0    5.0  19943.0
2  Honda  White        84714.0    4.0  28343.0

In [57]:
cars_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [58]:
# remove rows with missing target ('Price')
cars_missing.dropna(subset=["Price"], inplace=True)
cars_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [76]:
# split into X & y
X = cars_missing.drop("Price", axis=1)
y = cars_missing["Price"]

In [77]:
X.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
dtype: int64

In [78]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [79]:
# Fill categorical values with 'missing' & numerical values with 'mean'
cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)
num_imputer = SimpleImputer(strategy="mean")

# Define columns
cat_features = ["Make", "Colour"]
door_feature = ["Doors"]
num_features = ["Odometer (KM)"]

# Create an imputer
imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_features),
    ("door_imputer", door_imputer, door_feature),
    ("num_imputer", num_imputer, num_features)
])

filled_X = imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [80]:
cars_filled = pd.DataFrame(filled_X, columns=["Make", "Colour", "Doors", "Odometer (KM)"])

In [81]:
cars_filled.head(20)

       Make Colour Doors  Odometer (KM)
0     Honda  White   4.0   35431.000000
1       BMW   Blue   5.0  192714.000000
2     Honda  White   4.0   84714.000000
3    Toyota  White   4.0  154365.000000
4    Nissan   Blue   3.0  181577.000000
5     Honda    Red   4.0   42652.000000
6    Toyota   Blue   4.0  163453.000000
7     Honda  White   4.0  130987.447894
8   missing  White   4.0  130538.000000
9     Honda   Blue   4.0   51029.000000
10   Nissan  White   4.0  167421.000000
11   Nissan  Green   4.0   17119.000000
12   Nissan  White   4.0  102303.000000
13  missing  White   4.0  134181.000000
14    Honda   Blue   4.0  199833.000000
15   Toyota   Blue   4.0  205592.000000
16   Toyota    Red   4.0   96742.000000
17      BMW  White   5.0  194189.000000
18   Nissan  White   3.0   67991.000000
19   Nissan   Blue   4.0  215820.000000

In [82]:
cars_filled.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [83]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

cat_features = ["Make", "Colour", "Doors"]
ohe = OneHotEncoder()
transformer = ColumnTransformer([("ohe", ohe, cat_features)], remainder="passthrough")
transformed_X = transformer.fit_transform(cars_filled)

transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [85]:
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.21990196728583944