In [1]:
%config Completer.use_jedi=False

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("whitegrid")

In [3]:
heart_disease = pd.read_csv("../data/heart-disease.csv")
heart_disease.head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

In [4]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [5]:
X = heart_disease.drop("target", axis=1)
y = heart_disease["target"]

np.random.seed(32)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [6]:
np.random.seed(32)
clf = RandomForestClassifier()
clf.fit(X_train, y_train)

clf.score(X_test, y_test)

0.8524590163934426

In [7]:
from sklearn.metrics import ConfusionMatrixDisplay

## 3. Fit the model/estimator on our data and use it to make predictions

### 3.1 Fitting hte model to the data

Different names for:
* `X` = features, feature variables, data
* `y` = labels, targets, target variable

In [8]:
X.head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2

In [9]:
y.head(3)

0    1
1    1
2    1
Name: target, dtype: int64

### 3.2 Make predictions using ml model